@import "../../../assets/scss/mixins";

.login {
  @include size(100%, 100%);
  background: var(--background-color);
  padding: 32px;

  .card {
    width: 400px;
    height: 350px;
    border-radius: 8px;
  }

  .form {
    display: grid;
    gap: 8px;
  }

  .button-login {
    height: 40px;
    width: 130px;
    padding: 8px;
    justify-self: flex-end;
  }
}
