:root {
  --error-color: #ea686d;
  --success-color: #4ebc82;
  --light-color: #ffffff;
  --background-color: #f8f8f8;
  --dark-color: #333333;
  --primary-color: #673ab7;
  --primary-color-rgb: 103, 58, 183;
  --secondary-color: #233674;
}
