<div class="menu" *ngIf="!showMessageNoResponsive">

  <mat-toolbar class="toolbar" color="primary">
    <button class="toolbar-button" mat-icon-button (click)="sidenav.toggle()">
      <span class="material-symbols-outlined" *ngIf="menuIsOpen; else showMenu">
        close
      </span>

      <ng-template #showMenu>
        <span class="material-symbols-outlined">
          menu
        </span>
      </ng-template>
    </button>

    <h1 class="title-font">{{ pageTitle }}</h1>
  </mat-toolbar>

  <mat-sidenav-container [hasBackdrop]="true">
    <mat-sidenav #sidenav mode="over" class="sidenav" (openedStart)="changeMenuIsOpen()"
      (closedStart)="changeMenuIsOpen()">

      <mat-nav-list class="nav-item" *ngFor="let option of menu">
        <a class="nav-option" mat-list-item [routerLink]="option?.route" routerLinkActive="active"
          (click)="sidenav.toggle()">

          <span class="material-symbols-outlined">
            {{ option?.icon }}
          </span>

          {{ option?.text }}
        </a>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
      <main class="container">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div class="container" *ngIf="showMessageNoResponsive">
  <app-site-no-responsive></app-site-no-responsive>
</div>